/* Global Styles */
body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 0;
    background: linear-gradient(90deg, #56ae9e, #7f86a9);
    color: #333;
    overflow-x: hidden;
}

/* Header and Navigation */
header {
    background: #333;
    padding: 20px 0;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    position: sticky;
    top: 0;
    z-index: 10;
}

header nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    animation: fadeInDown 1.5s ease-in-out;
}

header nav ul li {
    margin: 0 20px;
    font-size: 1.3rem;
}

header nav ul li a {
    color: white;
    text-decoration: none;
    transition: color 0.3s ease;
    position: relative;
}

header nav ul li a::before {
    content: '';
    position: absolute;
    width: 0;
    height: 3px;
    background: #74ebd5;
    bottom: -5px;
    left: 50%;
    transition: 0.4s ease all;
}

header nav ul li a:hover {
    color: #74ebd5;
}

header nav ul li a:hover::before {
    width: 100%;
    left: 0;
}

/* Main Content */
main {
    padding: 100px 20px;
    text-align: center;
    animation: fadeInUp 1.5s ease-in-out;
}

/* Centered text for the background page */
.centered-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 35vh; /* 80% of the viewport height */
    text-align: left;
}

.centered-text h1 {
    font-size: 3rem;
    color: white;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
}

.centered-text p {
    font-size: 1.2rem;
    color: white;
    max-width: 700px;
    margin: 20px auto;
    line-height: 1.6;
}


h1 {
    font-size: 3rem;
    margin-bottom: 20px;
    color: white;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
    animation: pulse 3s infinite;
}

p {
    font-size: 1.5rem;
    line-height: 1.6;
    color: white;
    max-width: 800px;
    margin: 0 auto;
}

/* Footer */
footer {
    text-align: center;
    padding: 20px 0;
    background-color: #333;
    color: white;
    position: fixed;
    bottom: 0;
    width: 100%;
}

.content {
    display: flex;
    align-items: center;
}

.profile-image {
    max-width: 200px; /* Resmin maksimum genişliği */
    margin-right: 60px; /* Resim ile metin arasında boşluk */
    border-radius: 50%; /* Resmi yuvarlak yapmak için */
    object-fit: cover; /* Resmin orantılı görünmesi için */
}


/* Button Hover Animation */
button {
    background-color: #7482eb;
    border: none;
    padding: 10px 20px;
    font-size: 1rem;
    color: white;
    cursor: pointer;
    border-radius: 25px;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
    transition: background-color 0.3s ease, transform 0.3s ease;
}

button:hover {
    background-color: #ACB6E5;
    transform: scale(1.1);
}

/* Animations */
@keyframes fadeInDown {
    0% {
        opacity: 0;
        transform: translateY(-20px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes fadeInUp {
    0% {
        opacity: 0;
        transform: translateY(20px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes pulse {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.05);
    }
    100% {
        transform: scale(1);
    }
}

/* Section with hover effect */
section {
    margin: 50px auto;
    max-width: 1000px;
    display: flex;
    justify-content: space-around;
    animation: fadeInUp 2s ease-in-out;
}

section .card {
    background-color: white;
    width: 250px;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 10px 15px rgba(0, 0, 0, 0.2);
    transition: transform 0.4s ease, box-shadow 0.4s ease;
    text-align: center;
}

section .card:hover {
    transform: translateY(-10px);
    box-shadow: 0 15px 20px rgba(255, 255, 255, 0.4);
}

section .card h3 {
    font-size: 1.5rem;
    color: #333;
}

section .card p {
    color: #555;
}

/* Scroll Animation */
html {
    scroll-behavior: smooth;
}

@keyframes slideInLeft {
    0% {
        transform: translateX(-100%);
    }
    100% {
        transform: translateX(0);
    }
}

@keyframes slideInRight {
    0% {
        transform: translateX(100%);
    }
    100% {
        transform: translateX(0);
    }
}

/* Background for specific sections */
.background-section {
    background: linear-gradient(120deg, #ACB6E5, #74ebd5);
    padding: 50px 20px;
    text-align: center;
    color: white;
}

.background-section h2 {
    font-size: 2.5rem;
    margin-bottom: 20px;
    animation: slideInLeft 1.5s ease-in-out;
}

.background-section p {
    font-size: 1.2rem;
    animation: slideInRight 1.5s ease-in-out;
}

table {
    background-color: rgba(240, 240, 240, 0.5);
    border-collapse: collapse;
    width: 100%;
}

table th, table td {
    border: 1px solid rgba(0, 0, 0, 0.1);
    padding: 8px;
}

table th {
    background-color: rgba(76, 175, 80, 0.7);
    color: white;
}


img {
    display: block;
    margin: 0 auto;
}
